<mat-card class="login-page">
  <mat-card-title>Login (Template Driven)</mat-card-title>
  <mat-card-content>
    <form
      class="login-form data-form"
      #loginForm="ngForm"
      (ngSubmit)="submit(loginForm)"
    >
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          placeholder="Email"
          ngModel
          #email="ngModel"
          required
          minlength="3"
          email
          (ngModelChange)="onEmailChange($event)"
        />
        <mat-error *ngIf="email.errors?.required">Email is mandatory</mat-error>
        <mat-error *ngIf="email.errors?.minlength">At least 3 chars</mat-error>
        <mat-error *ngIf="email.errors?.email">Must be an email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          name="password"
          required
          minlength="3"
          passwordStrength
        />

        <mat-error *ngIf="password.errors?.required"
          >Password is mandatory</mat-error
        >

        <ng-container
          *ngIf="
            password.errors
              | onlyOneError: ['minlength', 'passwordStrength'] as error
          "
        >
          <mat-error *ngIf="error?.minlength">At least 3 chars</mat-error>

          <mat-error *ngIf="error?.passwordStrength"
            >Password should be more powerfull</mat-error
          >
        </ng-container>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>

    <div class="form-val">
      {{ loginForm.value | json }}
      <p>
        Email Validity: <b>{{ email.valid }}</b>
      </p>

      <p>
        Password Validity: <b> {{ password.valid }}</b>
      </p>
    </div>

    <div>
      Email errors:
      {{ email.errors | json }}
    </div>

    <div>
      Password errors:
      {{ password.errors | json }}
    </div>
  </mat-card-content>
</mat-card>
